/* Genel Ayarlar */
body {
    background: url('geo.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding-top: 70px; /* Sabit navbar için boşluk bırak */
}

/* Sayfa Görünümü */
.page {
    display: none;
}
.page.active {
    display: block;
}

/* Başlıklar */
h1.text-light {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Kartlar */
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto; /* Kartları merkezde tut */
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}
.card-img-top {
    width: 100%; /* Genişlik her zaman kartın genişliğine eşit */
    height: auto; /* Yükseklik genişliğe göre ayarlanır */
    max-height: 200px; /* Çok uzun resimlerin taşmasını engelle */
    object-fit: contain; /* Resim taşma yapmaz, kartın içinde kalır */
    border-bottom: 1px solid #ddd; /* Kartla resim arasında ayrım için bir çizgi */
}

/* Butonlar */
.btn-primary {
    background-color: #00aaff;
    border: none;
}
.btn-primary:hover {
    background-color: #0088cc;
}

/* Formlar */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
